target/

release.properties

buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/taskmanager/.settings
/taskmanager/.project
/taskmanager/myaplication_lib
config.properties
/taskmanager/taskmanagerComands/.settings
/taskmanager/taskmanagerComands/.project
/taskmanager/taskmanagerComands/.classpath
/taskmanager/taskmanagerDAO/.settings
/taskmanager/taskmanagerDAO/.project
/taskmanager/taskmanagerDAO/.classpath
.project
